<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c4 {
            -webkit-text-decoration-skip: none;
            color: #1155cc;
            font-weight: 400;
            text-decoration: underline;
            vertical-align: baseline;
            text-decoration-skip-ink: none;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c21 {
            -webkit-text-decoration-skip: none;
            color: #000000;
            font-weight: 700;
            text-decoration: underline;
            vertical-align: baseline;
            text-decoration-skip-ink: none;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c7 {
            -webkit-text-decoration-skip: none;
            color: #000000;
            font-weight: 400;
            text-decoration: underline;
            vertical-align: baseline;
            text-decoration-skip-ink: none;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: italic
        }

        .c16 {
            margin-left: 0.7pt;
            padding-top: 4.3pt;
            text-indent: 0pt;
            padding-bottom: 0pt;
            line-height: 1.260787010192871;
            text-align: left;
            margin-right: 25.7pt
        }

        .c12 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: italic
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c29 {
            margin-left: 0.8pt;
            padding-top: 18pt;
            text-indent: 0.3pt;
            padding-bottom: 0pt;
            line-height: 0.9578709602355957;
            text-align: left;
            margin-right: 7.4pt
        }

        .c18 {
            color: #1155cc;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c2 {
            margin-left: 0.7pt;
            padding-top: 4.3pt;
            text-indent: 0.3pt;
            padding-bottom: 0pt;
            line-height: 0.9578641057014465;
            text-align: left;
            margin-right: 7.1pt
        }

        .c36 {
            margin-left: 0.6pt;
            padding-top: 11.7pt;
            text-indent: 20.6pt;
            padding-bottom: 0pt;
            line-height: 1.9007203578948975;
            text-align: left;
            margin-right: 23.6pt
        }

        .c5 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c30 {
            margin-left: 0.6pt;
            padding-top: 0pt;
            text-indent: 0.5pt;
            padding-bottom: 0pt;
            line-height: 0.9122793078422546;
            text-align: justify;
            margin-right: 1.6pt
        }

        .c40 {
            margin-left: 0.6pt;
            padding-top: 4.3pt;
            text-indent: 0.2pt;
            padding-bottom: 0pt;
            line-height: 0.9578686356544495;
            text-align: left;
            margin-right: 9.3pt
        }

        .c38 {
            margin-left: 18.6pt;
            padding-top: 0.3pt;
            text-indent: -17.2pt;
            padding-bottom: 0pt;
            line-height: 0.9578641057014465;
            text-align: left;
            margin-right: 1.8pt
        }

        .c32 {
            margin-left: 19pt;
            padding-top: 0.3pt;
            text-indent: -17.5pt;
            padding-bottom: 0pt;
            line-height: 0.9578641057014465;
            text-align: left;
            margin-right: 1.3pt
        }

        .c33 {
            margin-left: 0.3pt;
            padding-top: 11.6pt;
            text-indent: 0.6pt;
            padding-bottom: 0pt;
            line-height: 0.9122793078422546;
            text-align: justify;
            margin-right: 1.2pt
        }

        .c1 {
            margin-left: 18.6pt;
            padding-top: 0.8pt;
            text-indent: -17.1pt;
            padding-bottom: 0pt;
            line-height: 0.9578686356544495;
            text-align: left;
            margin-right: 0.7pt
        }

        .c20 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 18pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c24 {
            padding-top: 1pt;
            text-indent: 1.5pt;
            padding-bottom: 0pt;
            line-height: 0.9600650072097778;
            text-align: left;
            margin-right: 1.3pt
        }

        .c28 {
            margin-left: 1.5pt;
            padding-top: 0.3pt;
            padding-bottom: 0pt;
            line-height: 0.960310697555542;
            text-align: left;
            margin-right: 0.5pt
        }

        .c26 {
            margin-left: 0.2pt;
            padding-top: 12.1pt;
            text-indent: 0.6pt;
            padding-bottom: 0pt;
            line-height: 0.9122793078422546;
            text-align: justify
        }

        .c31 {
            margin-left: 17.7pt;
            padding-top: 5.3pt;
            padding-bottom: 0pt;
            line-height: 0.8780462741851807;
            text-align: center;
            margin-right: 17.2pt
        }

        .c11 {
            margin-left: 1.5pt;
            padding-top: 0.3pt;
            padding-bottom: 0pt;
            line-height: 0.9615293145179749;
            text-align: left;
            margin-right: 25.5pt
        }

        .c22 {
            margin-left: 1.5pt;
            padding-top: 0.3pt;
            padding-bottom: 0pt;
            line-height: 0.9596977829933167;
            text-align: left;
            margin-right: 1.9pt
        }

        .c10 {
            padding-top: 19pt;
            text-indent: 0.6pt;
            padding-bottom: 0pt;
            line-height: 0.9104489684104919;
            text-align: justify;
            margin-right: 0.6pt
        }

        .c41 {
            margin-left: 0.3pt;
            padding-top: 12.1pt;
            text-indent: 0.5pt;
            padding-bottom: 0pt;
            line-height: 0.9359890818595886;
            text-align: left
        }

        .c39 {
            padding-top: 19.7pt;
            text-indent: 1pt;
            padding-bottom: 0pt;
            line-height: 0.8780462741851807;
            text-align: justify;
            margin-right: 1.2pt
        }

        .c37 {
            padding-top: 0.3pt;
            text-indent: 1.5pt;
            padding-bottom: 0pt;
            line-height: 0.960308313369751;
            text-align: left;
            margin-right: 14.8pt
        }

        .c6 {
            margin-left: 1.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 0.9615293145179749;
            text-align: left;
            margin-right: 23.5pt
        }

        .c35 {
            margin-left: 1.5pt;
            padding-top: 1pt;
            padding-bottom: 0pt;
            line-height: 0.9603074789047241;
            text-align: left;
            margin-right: 0.2pt
        }

        .c13 {
            margin-left: 1.3pt;
            padding-top: 0.5pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c23 {
            margin-left: 1.1pt;
            padding-top: 12.9pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c34 {
            margin-left: 0.7pt;
            padding-top: 26.1pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c8 {
            margin-left: 1.5pt;
            padding-top: 0.8pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c9 {
            margin-left: 1.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c19 {
            margin-left: 1.1pt;
            padding-top: 25.1pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c15 {
            padding-top: 2.1pt;
            padding-bottom: 0pt;
            line-height: 0.8780462741851807;
            text-indent: 1pt;
            text-align: justify
        }

        .c25 {
            margin-left: 1.5pt;
            padding-top: 0.3pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c14 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c17 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: center
        }

        .c27 {
            background-color: #ffffff;
            max-width: 454.9pt;
            padding: 71.3pt 69.7pt 102pt 71.5pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>
<section class="justify-content-md-center">

    <body class="c27 doc-content">
        <p class="c17"><span class="c20">RICO NGO </span></p>
        <p class="c31"><span class="c0">Location: Rotterdam area | Phone Number: +316 81 88 02 91 | Email: </span><span
                class="c4">Rico.ngo28@gmail.com</span><span class="c18">&nbsp;</span><span class="c0">Personal website:
            </span><span class="c4">https://www.rico.ngo/</span><span class="c18">&nbsp;</span><span class="c0">|
                LinkedIn: </span><span class="c4">https://www.linkedin.com/in/rico-ngo/</span><span
                class="c18">&nbsp;</span></p>
        <p class="c36"><span class="c5">A data-driven product leader that loves to solve problems and create effective
                solutions. </span><span class="c21">WORK EXPERIENCE</span><span class="c5">&nbsp;</span></p>
        <p class="c15"><span class="c5">Company Webcast, a Euronext Company</span><br><span class="c7">Lead Product
                Manager</span><br><span class="c12">&nbsp;Period: 01-2021 - present <br> Activities: </span></p>
        <p class="c24"><span class="c3">&#9679; </span><span class="c0">Responsible for the innovation and development
                of the company&rsquo;s product portfolio, which includes the SaaS streaming platform, professional
                broadcast studios, and on-site studios </span><br><span class="c3">&#9679; </span><span
                class="c0">Envisioning the company roadmap and ensuring that it gets executed timely and accordingly
            </span><br><span class="c3">&#9679; </span><span class="c0">Managing C-level stakeholders at Company Webcast and
                Euronext Corporate Services </span><br><span class="c3">&#9679; </span><span class="c0">Leading the product
                team of 4 members (product &amp; design) and guiding a team of 5 devs </span><br><span
                class="c12">Achievements: </span></p>
        <p class="c11"><span class="c3">&#9679; </span><span class="c0">Created a new innovative streaming platform,
                from concept phase to MVP and within budget </span><span class="c3">&#9679; </span><span
                class="c0">Realized up to 25% more engagements from our viewers on the platform </span></p>
        <p class="c32"><span class="c3">&#9679; </span><span class="c0">Implemented a clear and collaborative product
                management process within the organization to foster co-development initiatives </span></p>
        <p class="c22"><span class="c3">&#9679; </span><span class="c0">Improved our service concepts and proposition on
                hybrid events and full-service studio through a deep understanding of our customer needs, resulting in
                10% more annual sales. </span><br><span class="c3">&#9679; </span><span class="c0">Strengthened our
                reputation as the market leader in professional webcasting and streaming. </span></p>
        <p class="c10"><span class="c5">Woov</span><br><span class="c7">Lead Product Manager</span><br><span
                class="c12">&nbsp;Period: 11-2019 until 01-2021 <br>Activities: </span></p>
        <p class="c1"><span class="c3">&#9679; </span><span class="c0">Responsible for the development of the product
                portfolio, which includes the mobile app (iOS &amp; Android), online payment module, and the virtual
                streaming platform </span></p>
        <p class="c37"><span class="c3">&#9679; </span><span class="c0">Envisioning the company roadmap and ensuring
                that it gets executed timely and accordingly </span><br><span class="c3">&#9679; </span><span
                class="c0">Leading the product team of 5 members (product &amp; design &amp; data) + guiding a team of
                10 devs </span><br><span class="c3">&#9679; </span><span class="c0">Collaborating with big partners to form
                new business propositions (Adyen, MediaMonks, etc.) </span><br><span class="c12">Achievements: </span>
        </p>
        <p class="c28"><span class="c3">&#9679; </span><span class="c0">Launched and improved the platform to a user
                base to over 1+ million users - leading festival app </span><br><span class="c3">&#9679; </span><span
                class="c0">Increased the user onboarding rate approx. over 50% through analytics and user research
            </span><br><span class="c3">&#9679; </span><span class="c0">Integrated with Adyen payment system for digital wallets (incl.
                KYC) and online payment distribution system within the platform </span></p>
        <p class="c38"><span class="c3">&#9679; </span><span class="c0">Transformed our proposition from a festival app
                to a live streaming app within two months when the pandemic Covid-19 hit </span></p>
        <p class="c25"><span class="c3">&#9679; </span><span class="c0">Created an innovative solution to track music
                rights and pay royalties to artists and PROs </span></p>
        <p class="c39"><span class="c5">eVision (now Enablon, a Wolters Kluwer business)</span><br><span
                class="c7">Product Owner &amp; Product Manager</span><br><span class="c12">&nbsp;Period: 09-2017 until
                11-2019 <br>Activities </span></p>
        <p class="c35"><span class="c3">&#9679; </span><span class="c0">Responsible for the development of one of
                eVision&rsquo;s leading products, Barrier Vision, a data &amp; API driven application that calculates
                operational risk. Now known as Barrier Management </span><br><span class="c3">&#9679; </span><span
                class="c0">Envisioning the product roadmap and ensuring that it gets executed timely and accordingly
            </span><br><span class="c3">&#9679; </span><span class="c0">Managing the product team of 7 members, 2 product
                and 5 devs </span></p>
        <p class="c25"><span class="c3">&#9679; </span><span class="c0">Collaborating with major oil &amp; gas clients
                (Shell, BP, ExxonMobil, etc.)</span></p>
        <p class="c14"><span class="c12">Achievements: </span></p>
        <p class="c9"><span class="c3">&#9679; </span><span class="c0">Transformed a concept into a practical, yet
                innovative product </span></p>
        <p class="c6"><span class="c3">&#9679; </span><span class="c0">Successfully integrated CGE&rsquo;s bowtie
                solution that led to their acquisition by Wolters Kluwer </span><span class="c3">&#9679; </span><span
                class="c0">Awarded as the best Operational Risk Management tool in 2019 by Verdantix </span><br><span
                class="c3">&#9679; </span><span class="c0">Achieved approx. &euro;10 million in book order value during
                that time period </span></p>
        <p class="c23"><span class="c21">SIDE ACTIVITIES (FREE-TIME)</span><span class="c5">&nbsp;</span></p>
        <p class="c41"><span class="c5">Product Compass</span><br><span class="c7">Founder</span><br><span
                class="c12">&nbsp;Period: 08-2021 - present </span><br><span class="c3">&#9679; </span><span
                class="c0">Advising and coaching start-ups and scale-ups on achieving their product objectives
            </span><br><span class="c3">&#9679; </span><span class="c0">Providing advisory on finding product market fit,
                creating awesome pitch decks, roadmap prioritizations, feature scoping, etc. </span></p>
        <p class="c13"><span class="c0">. </span></p>
        <p class="c30"><span class="c5">School&rsquo;s Cool</span><br><span class="c7">Student mentor</span><br><span
                class="c12">&nbsp;Period: 06-2021 - present </span><br><span class="c3">&#9679; </span><span class="c0">Guiding and
                mentoring high school students on their educational and career path </span></p>
        <p class="c34"><span class="c21">EDUCATION</span><span class="c5">&nbsp;</span></p>
        <p class="c26"><span class="c5">Rotterdam School of Management (RSM) - Erasmus University
            </span><br><span class="c12">MSc. Strategic Management <br>Period: 2015 - 2017 </span><br><span class="c3">&#9679; </span><span
                class="c0">Strategy formulation and execution </span></p>
        <p class="c8"><span class="c3">&#9679; </span><span class="c0">Business model innovation </span></p>
        <p class="c9"><span class="c3">&#9679; </span><span class="c0">Strategy management consultancy </span></p>
        <p class="c9"><span class="c3">&#9679; </span><span class="c0">Data forecasting - Holt-Winters method </span>
        </p>
        <p class="c33"><span class="c5">The Hague University</span><br><span class="c12">BSc.
                International Business and Management studies <br>Period: 2009 - 2013 </span><br><span class="c3">&#9679; </span><span
                class="c0">Exchange program at University of Louisville in USA </span></p>
        <p class="c8"><span class="c3">&#9679; </span><span class="c0">Internship at TMF Group in Shanghai, China
            </span></p>
        <p class="c9"><span class="c3">&#9679; </span><span class="c0">Student representative and marked as top 10
                graduate </span></p>
        <p class="c19"><span class="c21">SKILLS &amp; INTERESTS</span><span class="c5">&nbsp;</span></p>
        <p class="c29"><span class="c5">Skills &amp; knowledge: </span><span class="c0">Processing complex information
                and making it easy to understand, guiding and leading teams towards one goal, stakeholder management,
                basic web development, big data analysis, identity management, JIRA, Confluence, Javascript, CSS, HTML,
                wireframing, and Miro </span></p>
        <p class="c40"><span class="c5">Field of expertise: </span><span class="c0">Product strategy, Defining MVPs,
                Product integrations, Online payment systems, Agile scrum methodologies, mobile apps, web app,
                platforms. </span></p>
        <p class="c2"><span class="c5">Certifications: </span><span class="c0">CSPO Product Owner, Python Data analyst,
                AWS TCO Cloud Economics, Full-stack Web Development Bootcamp 2021. </span></p>
        <p class="c16"><span class="c5">Languages: </span><span class="c0">Dutch (native), English (professional),
                Cantonese (native), and Mandarin (beginner) </span><span class="c5">Interests: </span><span
                class="c0">Running, Traveling, Yoga,, Food, Football, Crypto, DAO, VR gaming, and Coding</span></p>
    </body>
</section>

</html>